# Project exclude paths
/.gradle/
/Problems/Size of parts/out/
/Problems/Size of parts/out/production/classes/
/Problems/The roots of an equation/out/
/Problems/The roots of an equation/out/production/classes/